小規模/遠銀POC/NodeRed_FEIB_assistant.json
[{
		"id": "b87eee25.b04e3",
		"type": "watson-conversation-v1",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"workspaceid": "e9af53bf-7ea8-4e1a-89e1-03195df85ff4",
		"multiuser": false,
		"context": false,
		"empty-payload": false,
		"default-endpoint": true,
		"service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
		"timeout": "",
		"optout-learning": false,
		"x": 480,
		"y": 760,
		"wires": [["a2c52ad9.8f7fd8", "ab5bc2f.9c221c", "e5c08a6b.d9b298"]]
	}, {
		"id": "a473e20b.7ebbc8",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "Bot Home Page",
		"url": "/bot",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 580,
		"wires": [["e147fdcf.6bcba8", "a9033384.0dab8"]]
	}, {
		"id": "e147fdcf.6bcba8",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "JavaScript",
		"field": "payload.script",
		"fieldType": "msg",
		"format": "javascript",
		"syntax": "mustache",
		"template": "$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n    $(\"#id_enter\").click(function(event){\n        event.preventDefault();\n        onChatClick();\n    });\n    $(\"#id_clear\").click(function(event){\n        event.preventDefault();\n        $(\"#id_botchathistory\").empty();\n        invokeAjax (\"Hello\");\n    });\n    setTimeout(function(){\n        $(\"#id_chattext\").focus();\n    },3000);\n});\nvar input_record = \"\";\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    //console.log(message);//.replace(\"/\\\\n/g,\"<br>&nbsp;&nbsp;&nbsp;&nbsp;\")\n    var txt = '<b style=\"font-weight: 900;font-size:24px;\">' + who + '</b>' + ' : &nbsp;' + message;\n    console.log(txt);\n    return $('<div></div>').html(txt.replace(/\\\\n/g,\"<br>&nbsp;&nbsp;\"));\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n    $('#id_botchathistory').scrollTop(\n        $(\"#id_botchathistory\").prop(\"scrollHeight\")\n    );\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    \n    var txt = $('#id_chattext').val();\n    if(txt==\"\"){\n        return;\n    }\n    input_record = txt;\n    chat('<img src=\"https://cf55ae10.ngrok.io/FEIB_POC/user.png\" style=\"width:50px;height:50px;\">', txt);\n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('<img src=\"https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png\" style=\"width:50px;height:50px;\">', response.botresponse.messageout.output.text);\n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n\nfunction processNotOK() {\n    chat('Error', '跟小幫手說話時發生了未知錯誤!');\n}\n\nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n\n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n    console.log(ajaxData);\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}\n\n\nfunction b64EncodeUnicode(str) {\n    return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function(match, p1) {\n        return String.fromCharCode('0x' + p1);\n    }));\n}\n\nfunction UUID(){\n\treturn 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n\t    var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);\n\t    return v.toString(16);\n\t});\n}\n\n// confuse to last answer\nfunction onTrainClick() {\n    if(input_record==\"\"){\n        return;\n    }\n    let b64ss = b64EncodeUnicode(input_record).replace(/\\+/g,\"%2B\");\n    window.open (\"/bottrain?ss=\"+b64ss, UUID(), \"height=400, width=600,toolbar=no,menubar=no, scrollbars=no, resizable=no, location=no, status=no\") ;\n}",
		"output": "str",
		"x": 320,
		"y": 640,
		"wires": [["379e874f.c95668"]]
	}, {
		"id": "379e874f.c95668",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "html",
		"syntax": "mustache",
		"template": "<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  FEIB小駐守\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"./bootstrap.min.css\" />\n\t<style>\n\t    body{\n\t        font-family: \"微軟正黑體\", \"Microsoft JhengHei\", 'LiHei Pro', Arial, Helvetica, sans-serif, \\5FAE\\8EDF\\6B63\\9ED1\\9AD4,\\65B0\\7D30\\660E\\9AD4;\n            font-size: 16px;\n\t    }\n\t\t#id_botchathistory{\n\t\t\theight: calc(70vh);\n\t\t\toverflow-x: auto;\n\t\t\tpadding: 6px 10px;\n\t\t}\n\t    #id_botchathistory > div{\n\t        margin-bottom:5px;\n\t\t\t\n\t    }\n\t    #id_chattext{\n\t        width:610px;\n\t        height:40px;\n\t    }\n\t    .container {\n            width: 900px;\n\t    }\n\t\t#my_container{\n\t\t\twidth:100%;\n\t\t}\n\t\t#my_container td{\n\t\t\tpadding:6px 8px;\n\t\t\tborder:3px solid #888;\n\t\t}\n\t</style>\n\t\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\" class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1 style='text-align: center;'>FEIB&nbsp;小幫手</h1>\n      \n      <form>\n          <table id=\"my_container\">\n              <tr>\n                <td colspan='2'>\n                    <div id=\"id_botchathistory\"></div>\n                </td>\n              </tr>\n              <tr>\n                  <td style='width:720px;'>\n                      <label for=\"id_chattext\"><img src=\"./user.png\" style=\"width:50px;height:50px;\"> : &nbsp;</label>\n                      <input type=\"text\" name=\"chattext\" id=\"id_chattext\" placeholder=\"想對小幫手說的話\">\n                  </td>\n                  <td style='text-align:center;width: 160px;'>\n                      <button onclick=\"\" id=\"id_enter\">送出</button>\n                      <button onclick=\"\" id=\"id_clear\">清空</button>\n                  </td>\n              </tr>\n    \t\t</table>\n\t    </form>  \n\t      <!--table>\n\t          <tr>\n\t            <td>\n\t                <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">送出</button>\n\t            </td>\n\t            <td>\n\t                <button onclick=\"javascript:onTrainClick()\" id=\"id_train\">錯了啦，小幫手你聽我說</button>\n\t            </td>\n\t          </tr>\n\t       </table-->\n\t</div>\n\n    <script type=\"text/javascript\" src=\"./jquery-2.1.4.min.js\"></script>\n    <script type=\"text/javascript\" src=\"./bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>",
		"output": "str",
		"x": 430,
		"y": 580,
		"wires": [["8f2b0f78.fd24c8"]]
	}, {
		"id": "8f2b0f78.fd24c8",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 530,
		"y": 640,
		"wires": []
	}, {
		"id": "a05419cc.c20bc",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "BOT REST API",
		"url": "/botchat",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 760,
		"wires": [["56b04c12.959b3c", "b5deec6e.2d3878", "915b48b9.4627e8", "40d228ce.0ac24"]]
	}, {
		"id": "56b04c12.959b3c",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "Pre Service Process",
		"func": "// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein.replace(/[\\t\\n\\r]/g,\"\");\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 330,
		"y": 820,
		"wires": [["b87eee25.b04e3"]]
	}, {
		"id": "a2c52ad9.8f7fd8",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "Post Service Process",
		"func": "msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 600,
		"y": 820,
		"wires": [["423c7f6f.c25ac", "6e2dd51c.b9403c"]]
	}, {
		"id": "423c7f6f.c25ac",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 800,
		"y": 880,
		"wires": []
	}, {
		"id": "f81df5e0.b209d8",
		"type": "cloudant out",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"cloudant": "37e0d27b.ecbc26",
		"database": "feib_request_v2",
		"service": "DevelopOfBen-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 420,
		"y": 900,
		"wires": []
	}, {
		"id": "2b1afb11.971174",
		"type": "cloudant out",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"cloudant": "37e0d27b.ecbc26",
		"database": "feib_after_watson_v2",
		"service": "DevelopOfBen-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 800,
		"y": 720,
		"wires": []
	}, {
		"id": "b5deec6e.2d3878",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "let now = Date.now();\nmsg.payload.timestamp = now;\nmsg.payload.time = new Date(new Date(Date.now()).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0];\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 270,
		"y": 900,
		"wires": [["f81df5e0.b209d8"]]
	}, {
		"id": "ab5bc2f.9c221c",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "let now = Date.now();\nmsg.payload.timestamp = now;\nmsg.payload.time = new Date(new Date(Date.now()).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0];\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 630,
		"y": 720,
		"wires": [["2b1afb11.971174", "292771c8.6d963e"]]
	}, {
		"id": "915b48b9.4627e8",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "收到",
		"func": "if(msg.payload && msg.payload.msgdata){\n    //node.warn(msg.payload.msgdata);\n}\n",
		"outputs": 0,
		"noerr": 0,
		"x": 370,
		"y": 720,
		"wires": []
	}, {
		"id": "15640e59.f461fa",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "BOT TRAIN INTERFACE",
		"url": "/bottrain",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 210,
		"y": 1020,
		"wires": [["8c72a00b.54b748", "ab56ce2c.6bd97"]]
	}, {
		"id": "f86da462.90e41",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "BOT TRAIN INTERFACE",
		"url": "/bottrain",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 210,
		"y": 1080,
		"wires": [["2accade7.d42722", "8b638e00.6d6cb"]]
	}, {
		"id": "407a68a4.92e9e",
		"type": "comment",
		"z": "d35efd7e.7f6a98",
		"name": "CONFIG",
		"info": "{\n  \"url\": \"https://gateway.watsonplatform.net/conversation/api\",\n  \"username\": \"6b734980-5834-4143-ac60-6aa5d9249ea4\",\n  \"password\": \"gO05Uooph7Lo\"\n}\nworkspace = e9af53bf-7ea8-4e1a-89e1-03195df85ff4\n\n\n",
		"x": 110,
		"y": 40,
		"wires": []
	}, {
		"id": "599fc4c7.d08a04",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 1040,
		"y": 1000,
		"wires": []
	}, {
		"id": "bdd992fd.6386f",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "<html>\n    <head>\n        <title>train_interface</title>\n    </head>\n    <body>\n        <table style='margin: 40px auto;display:none;'>\n            <caption><b>小幫手你這樣不行啦!</b></caption>\n            <tr>\n                <td>你剛剛對他說:</td>\n                <td id='watson_input'></td>\n            </tr>\n            <tr>\n                <td>小幫手以為是:</td>\n                <td id='watson_intent'></td>\n            </tr>\n            <tr>\n                <td>但這句意思是：</td>\n                <td><select id='intent_choose'></select></td>\n            </tr>\n            <tr>\n                <td colspan='2'><input type='button' id='train' onclick='add_example()' value='小幫手 希望你記住了'/></td>\n            </tr>\n        </table>\n        <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n        <script type=\"text/javascript\">\n            var intentsDict = [\n                        {\"key\":\"credit_card_annual_fee_calculation_method\",\"value\":\"信用卡年費計算方式\"},\n                        {\"key\":\"credit_card_application\",\"value\":\"信用卡申請文件\"},\n                        {\"key\":\"credit_card_opening_method\",\"value\":\"信用卡開卡方式\"},\n                        {\"key\":\"credit_card_loss_handling_fee\",\"value\":\"信用卡掛失手續費\"},\n                        {\"key\":\"credit_card_application_replenishment_review_time\",\"value\":\"信用卡申請補件審核時間\"},\n                        {\"key\":\"credit_card_quota_inquiry\",\"value\":\"信用卡額度查詢\"},\n                        {\"key\":\"bonus_accumulation_method\",\"value\":\"紅利累積方式\"},\n                        {\"key\":\"dividend_accumulation_period\",\"value\":\"紅利累積期限\"},\n                        {\"key\":\"credit_card_retreat_method\",\"value\":\"信用卡刷退方式\"},\n                        {\"key\":\"abnormal_credit_card_spending_message_amount\",\"value\":\"信用卡消費簡訊金額異常原因\"},\n                        {\"key\":\"road_rescue_car_registration_method\",\"value\":\"道路救援車籍登錄方式\"},\n                        {\"key\":\"road_rescue_car_registration_restrictions_vehicle_type\",\"value\":\"道路救援車籍登錄限制車種\"},\n                        {\"key\":\"taiwan_dollar_deposit_account_minimum_account_opening_amount\",\"value\":\"台幣存款帳戶最低開戶金額\"},\n                        {\"key\":\"account_opening_original_seal_style_description\",\"value\":\"開戶原留印鑑樣式說明\"},\n                        {\"key\":\"financial_card_application_time\",\"value\":\"金融卡申請領取時間\"},\n                        {\"key\":\"passbook_replacement_method\",\"value\":\"存摺更換方式\"},\n                        {\"key\":\"passbook_withdrawal_password_setting_method\",\"value\":\"存摺取款密碼設定方式\"},\n                        {\"key\":\"agreed_account_effective_time\",\"value\":\"約定帳戶生效時間\"},\n                        {\"key\":\"no_withdrawal_method\",\"value\":\"無摺取款方式\"},\n                        {\"key\":\"interbank_fee_discount_object\",\"value\":\"跨行手續費優惠對象\"},\n                        {\"key\":\"comprehensive_statement_delivery_time\",\"value\":\"綜合對帳單寄送時間\"},\n                        {\"key\":\"electronic_statement_application_method\",\"value\":\"電子對帳單申請方式\"},\n                        {\"key\":\"financial_card_loss_reporting\",\"value\":\"金融卡掛失\"},\n                        {\"key\":\"financial_card_password_forgotten\",\"value\":\"金融卡密碼忘記處理方式\"},\n                        {\"key\":\"financial_card_reissue_application_method\",\"value\":\"金融卡補發申請方式\"},\n                        {\"key\":\"financial_card_reimbursement_fee\",\"value\":\"金融卡補發手續費收費標準\"},\n                        {\"key\":\"atm_transfer_time\",\"value\":\"atm轉帳入帳時間\"},\n                        {\"key\":\"atm_deposit_limit\",\"value\":\"atm存款金額上限\"},\n                        {\"key\":\"atm_folding_machine_set_location_query\",\"value\":\"atm補摺機設置地點查詢\"},\n                        {\"key\":\"financial_card_password_letter_activation_period\",\"value\":\"金融卡密碼函啟用期限\"},\n                        {\"key\":\"transfer_not_accountd_for\",\"value\":\"轉帳未入帳處理方式\"},\n                        {\"key\":\"atm_daily_withdrawal_limit\",\"value\":\"atm每日提款限額\"},\n                        {\"key\":\"what_is_the_deduction_charge\",\"value\":\"消費扣款密碼為何\"},\n                        {\"key\":\"anything_else\",\"value\":\"不用學的東西\"}\n                    ];\n\t\t\tlet input = '{{payload.input}}';\n\t\t\tlet intent = '{{payload.intent}}';\n\t\t\tlet confidence = '{{payload.confidence}}';\n\t\t\tlet intent_value = \"\";\n\t\t\tlet intent_choose_str = \"\";\n\t\t\t\n\t\t\tfor(let i=0;i<intentsDict.length;i++){\n\t\t\t    if(intentsDict[i].key == intent){\n\t\t\t        intent_value = intentsDict[i].value;\n\t\t\t    }\n\t\t\t\tintent_choose_str+=\"<option value='\"+intentsDict[i].key+\"'>\"+intentsDict[i].value+\"</option>\"\n\t\t\t}\n\t\t\t\n\t\t\t$(\"#watson_input\").text(input);\n\t\t\t$(\"#watson_intent\").text(intent_value.replace(\"不用學的東西\",\"某些還沒學會的東西\")+\"(\"+confidence+\")\");\n\t\t\t$(\"#intent_choose\").append(intent_choose_str);\n\t\t\t$(\"#intent_choose\").val(intent);\n\t\t\t$(\"table\").show();\n\t\t\tsetTimeout(function(){\n                $(\"#train\").focus();\n            },300);\n\t\t\tfunction add_example(){\n\t\t\t    $(\"#train\").attr(\"disabled\",true);\n\t\t\t    console.log(\"123123\")\n\t\t\t    $.ajax({\n                \ttype: 'POST',\n                \turl: 'bottrain',\n                \tdata: {\n                \t\tintent: $(\"#intent_choose\").val(),\n                \t\texample: $(\"#watson_input\").text()\n                \t},\n                \tsuccess: function(data){\n                \t    if(data==\"success\"){\n                \t        alert(\"好的!我會記住的，讓我筆記一下。\");\n                \t        window.close();\n                \t    }else if(data==\"already exists\"){\n                \t        alert(\"你之前好像說過一次了。這次我會好好記住的\");\n                \t        window.close();\n                \t    }else{\n                \t        alert(data);\n                \t    }\n                \t},\n                \terror: function(){\n                \t\talert(\"發生未知錯誤\");\n                \t}\n                });\n\t\t\t}\n        </script>\n    </body>\n</html>",
		"output": "str",
		"x": 880,
		"y": 1000,
		"wires": [["599fc4c7.d08a04"]]
	}, {
		"id": "5b297020.b4619",
		"type": "inject",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 200,
		"y": 1220,
		"wires": [["6dabb344.e08c94"]]
	}, {
		"id": "6dabb344.e08c94",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "msg.headers = {\n    //\"Content-Type\": \"application/x-www-form-urlencoded\",\n    //\"Accepts\": \"application/json\",\n    \"Authorization\":\"Basic \" + new Buffer('6b734980-5834-4143-ac60-6aa5d9249ea4' + \":\" + 'gO05Uooph7Lo').toString(\"base64\")\n};\nmsg.url = \"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/e9af53bf-7ea8-4e1a-89e1-03195df85ff4/intents?version=2018-07-10\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 400,
		"y": 1220,
		"wires": [["b3ecd948.490668"]]
	}, {
		"id": "b3ecd948.490668",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 580,
		"y": 1220,
		"wires": [["82aefff2.388548"]]
	}, {
		"id": "82aefff2.388548",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "DEBUG",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 760,
		"y": 1220,
		"wires": []
	}, {
		"id": "89ed38b4.9f4e6",
		"type": "watson-conversation-v1",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"workspaceid": "e9af53bf-7ea8-4e1a-89e1-03195df85ff4",
		"multiuser": false,
		"context": false,
		"empty-payload": false,
		"default-endpoint": true,
		"service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
		"timeout": "",
		"optout-learning": false,
		"x": 580,
		"y": 1000,
		"wires": [["65fea4d8.c97904"]]
	}, {
		"id": "8c72a00b.54b748",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "msg.req_para = msg.payload;\n\nmsg.payload = new Buffer(msg.payload.ss, 'base64').toString('utf-8');\n\nif(msg.payload.length>0){\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 410,
		"y": 1020,
		"wires": [["89ed38b4.9f4e6"], ["7e92efac.aa3d38"]]
	}, {
		"id": "65fea4d8.c97904",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "msg.payload.input = msg.payload.input.text;\nmsg.payload.intent = msg.payload.intents[0]?msg.payload.intents[0].intent:\"anything_else\";\nmsg.payload.confidence = msg.payload.intents[0]?(\"\"+msg.payload.intents[0].confidence).substring(0,6):\"\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 730,
		"y": 1000,
		"wires": [["bdd992fd.6386f"]]
	}, {
		"id": "2accade7.d42722",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "let intent_name = msg.payload.intent;\nlet intent_example = msg.payload.example;\nmsg.ori_payload = msg.payload;\nmsg.url = \"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/e9af53bf-7ea8-4e1a-89e1-03195df85ff4/intents/\"+intent_name+\"/examples?version=2018-07-10\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\":\"Basic \" + new Buffer('6b734980-5834-4143-ac60-6aa5d9249ea4' + \":\" + 'gO05Uooph7Lo').toString(\"base64\")\n};\nmsg.payload = {\n    text: intent_example\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 410,
		"y": 1080,
		"wires": [["2b318f0d.e8b398"]]
	}, {
		"id": "2b318f0d.e8b398",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "POST",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 590,
		"y": 1080,
		"wires": [["44ef75a.3a9570c"]]
	}, {
		"id": "44ef75a.3a9570c",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "if(msg.payload.error==null){\n    msg.payload=\"success\";\n}else if(msg.payload.error!=null && msg.payload.error.indexOf(\"already exists\")!=-1){\n    msg.payload=\"already exists\";\n}else{\n    msg.payload=msg.payload.error;\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 790,
		"y": 1080,
		"wires": [["8f693c4.f531e4", "8f02c248.14d17", "92a3d127.a8d8c8"]]
	}, {
		"id": "8f693c4.f531e4",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 980,
		"y": 1080,
		"wires": []
	}, {
		"id": "7e92efac.aa3d38",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "<html>\n    <head>\n        <title>拒絕訓練</title>\n    </head>\n    <body>\n        <h1 style='margin:40px auto;text-align:center;'>小幫手目前不接受五字以下的訓練喔!</h1>\n    </body>\n</html>",
		"output": "str",
		"x": 580,
		"y": 1040,
		"wires": [["4cd42068.63128"]]
	}, {
		"id": "4cd42068.63128",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 740,
		"y": 1040,
		"wires": []
	}, {
		"id": "ab56ce2c.6bd97",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "DEBUG",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 440,
		"y": 960,
		"wires": []
	}, {
		"id": "647826fb.e438e",
		"type": "cloudant out",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"cloudant": "37e0d27b.ecbc26",
		"database": "feib_train",
		"service": "DevelopOfBen-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 540,
		"y": 1140,
		"wires": []
	}, {
		"id": "8b638e00.6d6cb",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "let now = Date.now();\nmsg.payload.timestamp = now;\nmsg.payload.time = new Date(new Date(Date.now()).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0];\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 410,
		"y": 1140,
		"wires": [["647826fb.e438e"]]
	}, {
		"id": "b6951c6f.73e8e8",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "BEN",
		"url": "/bot_ben",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 150,
		"y": 520,
		"wires": [["afc2107.daf6b7"]]
	}, {
		"id": "afc2107.daf6b7",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "JavaScript",
		"field": "payload.script",
		"fieldType": "msg",
		"format": "javascript",
		"syntax": "mustache",
		"template": "$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n    $(\"#id_enter\").click(function(event){\n        event.preventDefault();\n        onChatClick();\n    });\n    $(\"#id_clear\").click(function(event){\n        event.preventDefault();\n        $(\"#id_botchathistory\").empty();\n        invokeAjax (\"Hello\");\n    });\n    setTimeout(function(){\n        $(\"#id_chattext\").focus();\n    },3000);\n});\nvar input_record = \"\";\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    //console.log(message);//.replace(\"/\\\\n/g,\"<br>&nbsp;&nbsp;&nbsp;&nbsp;\")\n    var txt = '<b style=\"font-weight: 900;font-size:24px;\">' + who + '</b>' + ' : &nbsp;' + message;\n    console.log(txt);\n    return $('<div></div>').html(txt.replace(/\\\\n/g,\"<br>&nbsp;&nbsp;\"));\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n    $('#id_botchathistory').scrollTop(\n        $(\"#id_botchathistory\").prop(\"scrollHeight\")\n    );\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    \n    var txt = $('#id_chattext').val();\n    if(txt==\"\"){\n        return;\n    }\n    input_record = txt;\n    chat('<img src=\"https://cf55ae10.ngrok.io/FEIB_POC/user.png\" style=\"width:50px;height:50px;\">', txt);\n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('<img src=\"https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png\" style=\"width:50px;height:50px;\">', response.botresponse.messageout.output.text);\n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n\nfunction processNotOK() {\n    chat('Error', '跟小幫手說話時發生了未知錯誤!');\n}\n\nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n\n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n    console.log(ajaxData);\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}\n\n\nfunction b64EncodeUnicode(str) {\n    return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function(match, p1) {\n        return String.fromCharCode('0x' + p1);\n    }));\n}\n\nfunction UUID(){\n\treturn 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n\t    var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);\n\t    return v.toString(16);\n\t});\n}\n\n// confuse to last answer\nfunction onTrainClick() {\n    if(input_record==\"\"){\n        return;\n    }\n    let b64ss = b64EncodeUnicode(input_record).replace(/\\+/g,\"%2B\");\n    window.open (\"/bottrain?ss=\"+b64ss, UUID(), \"height=400, width=600,toolbar=no,menubar=no, scrollbars=no, resizable=no, location=no, status=no\") ;\n}",
		"output": "str",
		"x": 310,
		"y": 520,
		"wires": [["e727227.0d3cb6"]]
	}, {
		"id": "e727227.0d3cb6",
		"type": "template",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "html",
		"syntax": "mustache",
		"template": "<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  FEIB小幫手\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n\t    body{\n\t        font-family: \"微軟正黑體\", \"Microsoft JhengHei\", 'LiHei Pro', Arial, Helvetica, sans-serif, \\5FAE\\8EDF\\6B63\\9ED1\\9AD4,\\65B0\\7D30\\660E\\9AD4;\n            font-size: 16px;\n\t    }\n\t\t#id_botchathistory{\n\t\t\theight: calc(70vh);\n\t\t\toverflow-x: auto;\n\t\t\tpadding: 6px 10px;\n\t\t}\n\t    #id_botchathistory > div{\n\t        margin-bottom:5px;\n\t\t\t\n\t    }\n\t    #id_chattext{\n\t        width:610px;\n\t        height:40px;\n\t    }\n\t    .container {\n            width: 900px;\n\t    }\n\t\t#my_container{\n\t\t\twidth:100%;\n\t\t}\n\t\t#my_container td{\n\t\t\tpadding:6px 8px;\n\t\t\tborder:3px solid #888;\n\t\t}\n\t</style>\n\t\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\" class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1 style='text-align: center;'>FEIB&nbsp;小幫手</h1>\n      \n      <form>\n          <table id=\"my_container\">\n              <tr>\n                <td colspan='2'>\n                    <div id=\"id_botchathistory\"></div>\n                </td>\n              </tr>\n              <tr>\n                  <td style='width:720px;'>\n                      <label for=\"id_chattext\"><img src=\"https://cf55ae10.ngrok.io/FEIB_POC/user.png\" style=\"width:50px;height:50px;\"> : &nbsp;</label>\n                      <input type=\"text\" name=\"chattext\" id=\"id_chattext\" placeholder=\"想對小幫手說的話\">\n                  </td>\n                  <td style='text-align:center;width: 160px;'>\n                      <button onclick=\"\" id=\"id_enter\">送出</button>\n                      <button onclick=\"\" id=\"id_clear\">清空</button>\n                  </td>\n              </tr>\n    \t\t</table>\n\t    </form>\n\t    <button onclick=\"javascript:onTrainClick()\" id=\"id_train\">錯了啦，小幫手你聽我說</button>\n\t      <!--table>\n\t          <tr>\n\t            <td>\n\t                <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">送出</button>\n\t            </td>\n\t            <td>\n\t                <button onclick=\"javascript:onTrainClick()\" id=\"id_train\">錯了啦，小幫手你聽我說</button>\n\t            </td>\n\t          </tr>\n\t       </table-->\n\t</div>\n\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>",
		"output": "str",
		"x": 480,
		"y": 520,
		"wires": [["87d6aa2d.263b5"]]
	}, {
		"id": "87d6aa2d.263b5",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 660,
		"y": 520,
		"wires": []
	}, {
		"id": "e5c08a6b.d9b298",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "華生的意志",
		"func": "let input = msg.payload.input.text\n\n\nlet intent = msg.payload.intents[0]?msg.payload.intents[0].intent:\"anything_else\";\nvar intentsDict = [\n    {\"key\":\"credit_card_annual_fee_calculation_method\",\"value\":\"信用卡年費計算方式\"},\n    {\"key\":\"credit_card_application\",\"value\":\"信用卡申請文件\"},\n    {\"key\":\"credit_card_opening_method\",\"value\":\"信用卡開卡方式\"},\n    {\"key\":\"credit_card_loss_handling_fee\",\"value\":\"信用卡掛失手續費\"},\n    {\"key\":\"credit_card_application_replenishment_review_time\",\"value\":\"信用卡申請補件審核時間\"},\n    {\"key\":\"credit_card_quota_inquiry\",\"value\":\"信用卡額度查詢\"},\n    {\"key\":\"bonus_accumulation_method\",\"value\":\"紅利累積方式\"},\n    {\"key\":\"dividend_accumulation_period\",\"value\":\"紅利累積期限\"},\n    {\"key\":\"credit_card_retreat_method\",\"value\":\"信用卡刷退方式\"},\n    {\"key\":\"abnormal_credit_card_spending_message_amount\",\"value\":\"信用卡消費簡訊金額異常原因\"},\n    {\"key\":\"road_rescue_car_registration_method\",\"value\":\"道路救援車籍登錄方式\"},\n    {\"key\":\"road_rescue_car_registration_restrictions_vehicle_type\",\"value\":\"道路救援車籍登錄限制車種\"},\n    {\"key\":\"taiwan_dollar_deposit_account_minimum_account_opening_amount\",\"value\":\"台幣存款帳戶最低開戶金額\"},\n    {\"key\":\"account_opening_original_seal_style_description\",\"value\":\"開戶原留印鑑樣式說明\"},\n    {\"key\":\"financial_card_application_time\",\"value\":\"金融卡申請領取時間\"},\n    {\"key\":\"passbook_replacement_method\",\"value\":\"存摺更換方式\"},\n    {\"key\":\"passbook_withdrawal_password_setting_method\",\"value\":\"存摺取款密碼設定方式\"},\n    {\"key\":\"agreed_account_effective_time\",\"value\":\"約定帳戶生效時間\"},\n    {\"key\":\"no_withdrawal_method\",\"value\":\"無摺取款方式\"},\n    {\"key\":\"interbank_fee_discount_object\",\"value\":\"跨行手續費優惠對象\"},\n    {\"key\":\"comprehensive_statement_delivery_time\",\"value\":\"綜合對帳單寄送時間\"},\n    {\"key\":\"electronic_statement_application_method\",\"value\":\"電子對帳單申請方式\"},\n    {\"key\":\"financial_card_loss_reporting\",\"value\":\"金融卡掛失\"},\n    {\"key\":\"financial_card_password_forgotten\",\"value\":\"金融卡密碼忘記處理方式\"},\n    {\"key\":\"financial_card_reissue_application_method\",\"value\":\"金融卡補發申請方式\"},\n    {\"key\":\"financial_card_reimbursement_fee\",\"value\":\"金融卡補發手續費收費標準\"},\n    {\"key\":\"atm_transfer_time\",\"value\":\"atm轉帳入帳時間\"},\n    {\"key\":\"atm_deposit_limit\",\"value\":\"atm存款金額上限\"},\n    {\"key\":\"atm_folding_machine_set_location_query\",\"value\":\"atm補摺機設置地點查詢\"},\n    {\"key\":\"financial_card_password_letter_activation_period\",\"value\":\"金融卡密碼函啟用期限\"},\n    {\"key\":\"transfer_not_accountd_for\",\"value\":\"轉帳未入帳處理方式\"},\n    {\"key\":\"atm_daily_withdrawal_limit\",\"value\":\"atm每日提款限額\"},\n    {\"key\":\"what_is_the_deduction_charge\",\"value\":\"消費扣款密碼為何\"},\n    {\"key\":\"anything_else\",\"value\":\"不用學的東西\"}\n];\nlet final_intent=\"\";\nfor(let i=0;i<intentsDict.length;i++){\n    if(intentsDict[i].key==intent){\n        final_intent =intentsDict[i].value;\n    }\n}\nfinal_intent = msg.payload.intents[0]?\" [\"+final_intent+\"(\"+(msg.payload.intents[0].confidence+\"\").substring(0,6)+\")]\":\"[none]\";;\nnode.warn(input+final_intent);\n",
		"outputs": 0,
		"noerr": 0,
		"x": 630,
		"y": 900,
		"wires": []
	}, {
		"id": "e04cee86.4672d8",
		"type": "catch",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"scope": ["b87eee25.b04e3"],
		"x": 350,
		"y": 100,
		"wires": [["b2ac71ac.b6c46", "6ddd61a0.3eb6c", "bd5b353d.d0c248"]]
	}, {
		"id": "b2ac71ac.b6c46",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "ERROR",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 520,
		"y": 140,
		"wires": []
	}, {
		"id": "6ddd61a0.3eb6c",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "if(msg.res){\n    msg.payload={\n    \t\"botresponse\": {\n    \t\t\"messagein\": \"哈囉\",\n    \t\t\"messageout\": {\n    \t\t\t\"intents\": [],\n    \t\t\t\"entities\": [],\n    \t\t\t\"input\": {\n    \t\t\t\t\"text\": \"哈囉\"\n    \t\t\t},\n    \t\t\t\"output\": {\n    \t\t\t\t\"text\": [\"抱歉，您說的話包含我看不懂的文字。\"],\n    \t\t\t\t\"nodes_visited\": [\"node_1_1533520890315\"],\n    \t\t\t\t\"log_messages\": []\n    \t\t\t},\n    \t\t\t\"context\": {\n    \t\t\t\t\"conversation_id\": UUID(),\n    \t\t\t}\n    \t\t}\n    \t}\n    }\n\n    return msg;\n}\n\nfunction UUID(){\n\treturn 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n\t    var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);\n\t    return v.toString(16);\n\t});\n}",
		"outputs": 1,
		"noerr": 0,
		"x": 510,
		"y": 100,
		"wires": [["b361622e.69f6a8"]]
	}, {
		"id": "6e2dd51c.b9403c",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "RET",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 810,
		"y": 820,
		"wires": []
	}, {
		"id": "b361622e.69f6a8",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 660,
		"y": 100,
		"wires": []
	}, {
		"id": "e43f5295.cd7648",
		"type": "cloudant out",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"cloudant": "37e0d27b.ecbc26",
		"database": "feib_error",
		"service": "DevelopOfBen-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 640,
		"y": 60,
		"wires": []
	}, {
		"id": "bd5b353d.d0c248",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"func": "let now = Date.now();\nmsg.payload={\n    payload:msg.payload,\n    error:msg.error\n};\nmsg.payload.timestamp = now;\nmsg.payload.time = new Date(new Date(Date.now()).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0];\n\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 510,
		"y": 60,
		"wires": [["e43f5295.cd7648"]]
	}, {
		"id": "8f02c248.14d17",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "DEBUG",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 980,
		"y": 1180,
		"wires": []
	}, {
		"id": "92a3d127.a8d8c8",
		"type": "function",
		"z": "d35efd7e.7f6a98",
		"name": "修改華生",
		"func": "let train_answer = msg.payload+\"(\"+msg.statusCode+\")\";\nlet intent_train = msg.ori_payload.example+\"=>\"+msg.ori_payload.intent;\n\n\nnode.warn(intent_train+\"\\n\"+train_answer);\n",
		"outputs": 0,
		"noerr": 0,
		"x": 980,
		"y": 1140,
		"wires": []
	}, {
		"id": "292771c8.6d963e",
		"type": "cloudant out",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"cloudant": "37e0d27b.ecbc26",
		"database": "feib_normal_statistic",
		"service": "DevelopOfBen-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 820,
		"y": 680,
		"wires": []
	}, {
		"id": "1a032d9f.38424a",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"url": "/bootstrap.min.css",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 190,
		"y": 220,
		"wires": [["fe0a4eb2.3e442"]]
	}, {
		"id": "3c150354.7fddc4",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 670,
		"y": 220,
		"wires": []
	}, {
		"id": "fe477daf.f52a38",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"url": "/jquery-2.1.4.min.js",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 190,
		"y": 260,
		"wires": [["bcf30f14.d25e9"]]
	}, {
		"id": "549b9f74.907a9",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 670,
		"y": 260,
		"wires": []
	}, {
		"id": "31768c6c.15a0fc",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"url": "/bootstrap.min.js",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 180,
		"y": 300,
		"wires": [["a7369bbb.c13aa"]]
	}, {
		"id": "2a3e9d0c.b4a86a",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 670,
		"y": 300,
		"wires": []
	}, {
		"id": "fe0a4eb2.3e442",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
		"tls": "",
		"x": 420,
		"y": 220,
		"wires": [["3c150354.7fddc4"]]
	}, {
		"id": "bcf30f14.d25e9",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "https://code.jquery.com/jquery-2.1.4.min.js",
		"tls": "",
		"x": 420,
		"y": 260,
		"wires": [["549b9f74.907a9"]]
	}, {
		"id": "a7369bbb.c13aa",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
		"tls": "",
		"x": 420,
		"y": 300,
		"wires": [["2a3e9d0c.b4a86a"]]
	}, {
		"id": "29f6abbd.64aa94",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"url": "/servicebot.png",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 179,
		"y": 342,
		"wires": [["ea726eb.bf7101"]]
	}, {
		"id": "550f6b9c.0a4e0c",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 669,
		"y": 342,
		"wires": []
	}, {
		"id": "ea726eb.bf7101",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png",
		"tls": "",
		"x": 419,
		"y": 342,
		"wires": [["550f6b9c.0a4e0c"]]
	}, {
		"id": "ef61d72f.623d5",
		"type": "http in",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"url": "/user.png",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 157,
		"y": 380,
		"wires": [["5c62c86c.ee64c"]]
	}, {
		"id": "93b076e9.089c88",
		"type": "http response",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 667,
		"y": 380,
		"wires": []
	}, {
		"id": "5c62c86c.ee64c",
		"type": "http request",
		"z": "d35efd7e.7f6a98",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "https://cf55ae10.ngrok.io/FEIB_POC/user.png",
		"tls": "",
		"x": 417,
		"y": 380,
		"wires": [["93b076e9.089c88"]]
	}, {
		"id": "40d228ce.0ac24",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "DEBUG",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 220,
		"y": 940,
		"wires": []
	}, {
		"id": "a9033384.0dab8",
		"type": "debug",
		"z": "d35efd7e.7f6a98",
		"name": "DEBUG",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 260,
		"y": 680,
		"wires": []
	}, {
		"id": "37e0d27b.ecbc26",
		"type": "cloudant",
		"z": "",
		"host": "717edabd-fb66-484c-9067-7787068d6f14-bluemix.cloudant.com",
		"name": "SERVICE-PROD2 的DB"
	}
]
