小規模/NodeRed欣中天然氣.json
[{
		"id": "15e7e273.9bedbe",
		"type": "http in",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"url": "/lineAppTest",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 190,
		"y": 260,
		"wires": [["8102b09b.9d6d6", "783ce452.2f7fec", "7df349e4.883538"]]
	}, {
		"id": "8102b09b.9d6d6",
		"type": "http response",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 400,
		"y": 260,
		"wires": []
	}, {
		"id": "4b1a0643.282288",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "來源類型",
		"func": "\nif(\n    msg.payload==null ||\n    msg.payload.events ==null ||\n    msg.payload.events[0]==null ||\n    msg.payload.events[0].source==null ||\n    msg.payload.events[0].source.type==null\n){\n    node.warn(\"非預期訊息來源?\");\n    return null;\n}\n\n\nif(msg.payload.events[0].source.type==\"user\"){\n    msg.target = msg.payload.events[0].source.userId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else if(msg.payload.events[0].source.type==\"room\"){    \n    msg.target = msg.payload.events[0].source.roomId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else if(msg.payload.events[0].source.type==\"group\"){\n    msg.target = msg.payload.events[0].source.groupId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else{\n    node.warn(\"非預期訊息來源?\");\n    return null;\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 560,
		"y": 340,
		"wires": [["30b09bf4.455484"]]
	}, {
		"id": "783ce452.2f7fec",
		"type": "debug",
		"z": "60e442dd.a0d7ec",
		"name": "LINE_IN",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 400,
		"y": 220,
		"wires": []
	}, {
		"id": "7df349e4.883538",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "GLOBAL",
		"func": "\nmsg.global_para = {\n    line_token : \"sFMNesJ2LHfP7YlCQJlqzpNy+vQogOqkVGxcJsf/rPsM67gfXJfEwyX3cZuo6zAd+Kh+dQjgo1E06TqN6e/tF9/b/JGOGJwvXreRLfUl6dIJ0U1ChQ/++REm45Fnc+rY/DkbRzSSyFuFMtbm+bBY+wdB04t89/1O/w1cDnyilFU=\",\n    my_host : \"https://nodered-api-test.mybluemix.net\",\n    //my_host : \"https://nodered-api-prod02.mybluemix.net\"\n    customer: \"R1eabf04e79de8aeee9aea7baa3f36763\",\n    manager: \"C73c248d9475292d2ccee1fd2cd69dd54\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 400,
		"y": 303,
		"wires": [["4b1a0643.282288"]]
	}, {
		"id": "5a0bf698.f50658",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "TOKEN",
		"func": "\nlet token = msg.global_para.line_token;\nmsg.payload = msg.retMsg;\n\nmsg.url = \"https://api.line.me/v2/bot/message/push\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+token,\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1330,
		"y": 300,
		"wires": [["b2fe5552.f2c828"]]
	}, {
		"id": "b2fe5552.f2c828",
		"type": "http request",
		"z": "60e442dd.a0d7ec",
		"name": "SEND",
		"method": "POST",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 1470,
		"y": 300,
		"wires": [["e564fb97.180b58"]]
	}, {
		"id": "e564fb97.180b58",
		"type": "debug",
		"z": "60e442dd.a0d7ec",
		"name": "PUSH_TO_LINE",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1650,
		"y": 320,
		"wires": []
	}, {
		"id": "30b09bf4.455484",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"func": "if(msg.payload.events[0].source.groupId ==msg.global_para.manager){\n    node.warn(\"管理員?\");\n    return [msg,null,null,null,null];\n}\nnode.warn(\"管理員X\");\n\nlet counter = context.get(msg.targetUser+\"counter\");\ncounter = counter==null?0:counter+1;\nnode.warn(counter);\ncontext.set(msg.targetUser+\"counter\",counter);\n\nif(counter==0){\n    msg.retMsg = {\n        \"to\":msg.global_para.customer,\n        \"messages\":[\n            {\n                \"type\":\"audio\",\n                \"originalContentUrl\": \"https://ac282076.ngrok.io/audio_convert/5oKo5aW977yM6YCZ6KOh5piv5qyj5Lit5aSp54S25rCj5YWs-473963766_DaiYu.m4a\",\n                \"duration\":6000\n            }\n        ]\n    };\n    return [null,msg,null,null,null];\n}else if(counter==1){\n    \n    return [null,null,msg,null,null];\n}else if(counter==2){\n    return [null,null,null,msg,null];\n}else if(counter==3){\n    return [null,null,null,null,msg];\n}",
		"outputs": 5,
		"noerr": 0,
		"x": 720,
		"y": 340,
		"wires": [["95910de0.3faf4"], ["5a0bf698.f50658"], ["d8686884.36f538", "f727b813.614a48"], ["c003614b.a856a"], ["c003614b.a856a"]]
	}, {
		"id": "d8686884.36f538",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"func": "msg.retMsg = {\n    \"to\": msg.global_para.customer,\n    \"messages\":[\n        {\n            \"type\":\"audio\",\n            \"originalContentUrl\": \"https://ac282076.ngrok.io/audio_convert/5aW955qE77yM5oiR56uL5Y2z5bmr5L2g6L2J5o6l5YC854+t1373555770_DaiYu.m4a\",\n            \"duration\":4000\n        }\n    ]\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 940,
		"y": 340,
		"wires": [["5a0bf698.f50658"]]
	}, {
		"id": "f727b813.614a48",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"func": "msg.retMsg = {\n    \"to\": msg.global_para.manager,\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"LINE使用者孟璇聯繫客服，接下來將與使用者直接對話。\"\n        }\n    ]\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 940,
		"y": 380,
		"wires": [["5a0bf698.f50658"]]
	}, {
		"id": "ca707644.4a0028",
		"type": "http request",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 1050,
		"y": 200,
		"wires": [["21cc9fd3.c32b"]]
	}, {
		"id": "95910de0.3faf4",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "對使用者說",
		"func": "\nlet content_id = msg.payload.events[0].message.id;\nlet token = msg.global_para.line_token;\n\nif(msg.payload.events[0].message.type!=\"audio\"){\n    msg.retMsg = {\n        \"to\": msg.global_para.manager,\n        \"messages\":[\n            {\n                \"type\":\"text\",\n                \"text\": \"已該將對話標記為已完成。\\n將斷開與使用者之對話。\"\n            }\n        ]\n    };\n    return[null,msg];\n}\nmsg.url = \"https://api.line.me/v2/bot/message/\"+content_id+\"/content\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+token,\n};\nreturn[msg,null];\n",
		"outputs": 2,
		"noerr": 0,
		"x": 850,
		"y": 200,
		"wires": [["ca707644.4a0028"], ["5a0bf698.f50658"]]
	}, {
		"id": "e0f7a20f.2968a",
		"type": "http in",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"url": "/fetch_data",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 1040,
		"y": 140,
		"wires": [["21cc9fd3.c32b"]]
	}, {
		"id": "21cc9fd3.c32b",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "######",
		"func": "if(\n    msg.req && \n    msg.req.route && \n    msg.req.route.path==\"/fetch_data\" &&\n    msg.payload.id\n){\n    let serial_id = new Buffer(msg.payload.id, 'base64').toString('utf-8')\n    \n    msg.headers = context.get(serial_id+\"_headers\");\n    if(msg.headers!=null){\n        msg.headers[\"content-disposition\"]=\"attachment; filename=audioclip-1532332559000-3971.mp4\";\n        msg.headers[\"content-type\"]=\"video/mp4\";\n    }\n    msg.payload = context.get(serial_id+\"_payload\");\n    context.set(serial_id+\"_headers\",null);\n    context.set(serial_id+\"_payload\",null);\n    return[null,msg];\n    //new Buffer(answer).toString('base64')\n}else{\n    let serial_id = UUID();\n    \n    context.set(serial_id+\"_headers\",msg.headers);\n    context.set(serial_id+\"_payload\",msg.payload);\n    \n    msg.dataIdBase64 = new Buffer(serial_id).toString('base64');\n    return[msg,null];\n}\n//return msg;\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 1230,
		"y": 180,
		"wires": [["6b835374.03433c"], ["cbbf0161.fbbbb"]]
	}, {
		"id": "cbbf0161.fbbbb",
		"type": "http response",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 1400,
		"y": 220,
		"wires": []
	}, {
		"id": "6b835374.03433c",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "RETURN",
		"func": "let counter = context.get(msg.targetUser+\"counter\");\ncounter = counter==null?0:counter+1;\nnode.warn(counter);\ncontext.set(msg.targetUser+\"counter\",counter);\nlet time ;\nif(counter==0){\n    time = 9000;\n    \n}else if(counter==1){\n    time = 4000;\n}else if(counter==2){\n    time = 8000;\n}\n\nmsg.retMsg = {\n    \"to\": msg.global_para.customer,\n    \"messages\":[\n        {\n            \"type\":\"audio\",\n            \"originalContentUrl\": \"https://developofben.mybluemix.net/fetch_data?id=\"+msg.dataIdBase64,\n            \"duration\":time\n        }\n    ]\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1380,
		"y": 160,
		"wires": [["5a0bf698.f50658", "8e4764d3.f737d8"]]
	}, {
		"id": "38829772.65f198",
		"type": "http request",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 1000,
		"y": 520,
		"wires": [["8fbc3d5e.d943e"]]
	}, {
		"id": "c003614b.a856a",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "對使用者說",
		"func": "\nlet content_id = msg.payload.events[0].message.id;\nlet token = msg.global_para.line_token;\n\nmsg.url = \"https://api.line.me/v2/bot/message/\"+content_id+\"/content\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+token,\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 760,
		"y": 460,
		"wires": [["38829772.65f198", "10949b9b.f4a034"]]
	}, {
		"id": "3c33f10.97edd1",
		"type": "http in",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"url": "/fetch_data2",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 1000,
		"y": 460,
		"wires": [["8fbc3d5e.d943e"]]
	}, {
		"id": "8fbc3d5e.d943e",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "######",
		"func": "if(\n    msg.req && \n    msg.req.route && \n    msg.req.route.path==\"/fetch_data2\" &&\n    msg.payload.id\n){\n    node.warn(\"456\");\n    let serial_id = new Buffer(msg.payload.id, 'base64').toString('utf-8')\n    \n    msg.headers = context.get(serial_id+\"_headers\");\n    if(msg.headers!=null){\n        msg.headers[\"content-disposition\"]=\"attachment; filename=audioclip-1532332559000-3971.mp4\";\n        msg.headers[\"content-type\"]=\"video/mp4\";\n    }\n    msg.payload = context.get(serial_id+\"_payload\");\n    context.set(serial_id+\"_headers\",null);\n    context.set(serial_id+\"_payload\",null);\n    return[null,msg];\n    //new Buffer(answer).toString('base64')\n}else{\n    node.warn(\"123\");\n    let serial_id = UUID();\n    \n    context.set(serial_id+\"_headers\",msg.headers);\n    context.set(serial_id+\"_payload\",msg.payload);\n    \n    msg.dataIdBase64 = new Buffer(serial_id).toString('base64');\n    return[msg,null];\n}\n//return msg;\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 1180,
		"y": 500,
		"wires": [["770b5dd4.346ff4"], ["a9f2707.01edf9"]]
	}, {
		"id": "a9f2707.01edf9",
		"type": "http response",
		"z": "60e442dd.a0d7ec",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 1350,
		"y": 540,
		"wires": []
	}, {
		"id": "770b5dd4.346ff4",
		"type": "function",
		"z": "60e442dd.a0d7ec",
		"name": "RETURN",
		"func": "let counter = context.get(msg.targetUser+\"counter\");\ncounter = counter==null?0:counter+1;\nnode.warn(counter);\ncontext.set(msg.targetUser+\"counter\",counter);\nlet time ;\n\nmsg.retMsg = {\n    \"to\": msg.global_para.manager,\n    \"messages\":[\n        {\n            \"type\":\"audio\",\n            \"originalContentUrl\": \"https://developofben.mybluemix.net/fetch_data2?id=\"+msg.dataIdBase64,\n            \"duration\":3000\n        }\n    ]\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1330,
		"y": 480,
		"wires": [["5a0bf698.f50658", "8dfeb8f2.000ad8"]]
	}, {
		"id": "8dfeb8f2.000ad8",
		"type": "debug",
		"z": "60e442dd.a0d7ec",
		"name": "###########",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1530,
		"y": 420,
		"wires": []
	}, {
		"id": "10949b9b.f4a034",
		"type": "debug",
		"z": "60e442dd.a0d7ec",
		"name": "###########",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1010,
		"y": 600,
		"wires": []
	}, {
		"id": "8e4764d3.f737d8",
		"type": "debug",
		"z": "60e442dd.a0d7ec",
		"name": "###########",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1580,
		"y": 200,
		"wires": []
	}
]
