小規模/NodeRedSTT&TTS_microsoft.json
[{
		"id": "f5c49db0.c68b8",
		"type": "inject",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 140,
		"y": 1460,
		"wires": [["c6defd8f.5a8d6"]]
	}, {
		"id": "ffd6d076.9f69e8",
		"type": "debug",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"active": false,
		"console": false,
		"complete": "true",
		"x": 770,
		"y": 1460,
		"wires": []
	}, {
		"id": "3150d307.e8aec4",
		"type": "http request",
		"z": "c40ffe00.9d1b3",
		"name": "TOKEN",
		"method": "POST",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 590,
		"y": 1500,
		"wires": [["ffd6d076.9f69e8", "98a6177b.4d6808"]]
	}, {
		"id": "73ebd4ae.c4a9b4",
		"type": "function",
		"z": "c40ffe00.9d1b3",
		"name": "TTS_1",
		"func": "msg.url = \"https://api.cognitive.microsoft.com/sts/v1.0/issueToken\";\n\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"44b3c8b27304409b97e70ce7cfe98294\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 440,
		"y": 1500,
		"wires": [["3150d307.e8aec4"]]
	}, {
		"id": "98a6177b.4d6808",
		"type": "function",
		"z": "c40ffe00.9d1b3",
		"name": "TTS_2",
		"func": "\nlet token = msg.payload;\nmsg.url=\"https://speech.platform.bing.com/synthesize\";\nmsg.headers={\n    \"Authorization\":\"Bearer \"+token,\n    \"Content-Type\":\"application/ssml+xml\",\n    \"X-Search-ClientID\":\"901bfe473d3a4e34a05504593c4e4e8a\",\n    \"User-Agent\":\"g4ru04\",\n    //\"X-Microsoft-OutputFormat\":\"ssml-16khz-16bit-mono-tts\"\n    //\"X-Microsoft-OutputFormat\":\"raw-16khz-16bit-mono-pcm\"\n    //\"X-Microsoft-OutputFormat\":\"audio-16khz-16kbps-mono-siren\"\n    //\"X-Microsoft-OutputFormat\":\"riff-16khz-16kbps-mono-siren\"\n    //\"X-Microsoft-OutputFormat\":\"riff-16khz-16bit-mono-pcm\"\n    //\"X-Microsoft-OutputFormat\":\"audio-16khz-128kbitrate-mono-mp3\"\n    \"X-Microsoft-OutputFormat\":\"audio-16khz-64kbitrate-mono-mp3\"\n    //\"X-Microsoft-OutputFormat\":\"audio-16khz-32kbitrate-mono-mp3\"\n}\nmsg.payload=\n\"<speak version='1.0' xmlns='http://www.w3.org/2001/10/synthesis' xml:lang='zh-TW'>\"+\n\t\"<voice  name='Microsoft Server Speech Text to Speech Voice (zh-TW, Zhiwei, Apollo)'>\"+\n\t\t\"<prosody rate='+30.00%'>\"+\n\t\t    msg.tts_text+\n\t\t\"</prosody>\"+\n\t\"</voice>\"+\n\"</speak>\";\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 450,
		"y": 1540,
		"wires": [["7ff5fa4e.b24d5c"]]
	}, {
		"id": "7ff5fa4e.b24d5c",
		"type": "http request",
		"z": "c40ffe00.9d1b3",
		"name": "TRANS",
		"method": "POST",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 580,
		"y": 1540,
		"wires": [["313f80bc.91dcb8", "2956d8d4.8e8218"]]
	}, {
		"id": "2956d8d4.8e8218",
		"type": "debug",
		"z": "c40ffe00.9d1b3",
		"name": "TTS ANSWER",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 800,
		"y": 1500,
		"wires": []
	}, {
		"id": "d639e277.88ed98",
		"type": "debug",
		"z": "c40ffe00.9d1b3",
		"name": "CONVERTION",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1130,
		"y": 1600,
		"wires": []
	}, {
		"id": "c6defd8f.5a8d6",
		"type": "function",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"func": "msg.tts_text = \"吃葡萄不吐葡萄皮，不吃葡萄倒吐葡萄皮。\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 290,
		"y": 1480,
		"wires": [["73ebd4ae.c4a9b4"]]
	}, {
		"id": "b4c7072d.a79ba8",
		"type": "http in",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"url": "/get_file",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 570,
		"y": 1580,
		"wires": [["313f80bc.91dcb8"]]
	}, {
		"id": "313f80bc.91dcb8",
		"type": "function",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"func": "\nif(msg.payload.name!=null){\n    msg.payload = context.get(\"audio\");\n    return msg;\n}else{\n    context.set(\"audio\",msg.payload);\n    \n    node.warn(\"save\\nhttps://developofbenbak.mybluemix.net/get_file?name=Ben\");\n}\n",
		"outputs": 1,
		"noerr": 0,
		"x": 770,
		"y": 1560,
		"wires": [["46a4adc.bdf81d4"]]
	}, {
		"id": "46a4adc.bdf81d4",
		"type": "http response",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 969,
		"y": 1561.5,
		"wires": []
	}, {
		"id": "80667884.a759a8",
		"type": "Speech To Text",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"userAgent": "Linux OS",
		"locale": "zh-TW",
		"x": 690,
		"y": 1640,
		"wires": [["fd643997.ab0dc8"]]
	}, {
		"id": "71e61af.cd07a64",
		"type": "inject",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 140,
		"y": 1640,
		"wires": [["4784813a.e0a528"]]
	}, {
		"id": "4784813a.e0a528",
		"type": "function",
		"z": "c40ffe00.9d1b3",
		"name": "STT_0",
		"func": "msg.url = \"https://ac282076.ngrok.io/audio/8Ktest_cut.wav\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 1640,
		"wires": [["12ef60ec.ea15e7"]]
	}, {
		"id": "fd643997.ab0dc8",
		"type": "debug",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 890,
		"y": 1640,
		"wires": []
	}, {
		"id": "12ef60ec.ea15e7",
		"type": "http request",
		"z": "c40ffe00.9d1b3",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 470,
		"y": 1640,
		"wires": [["80667884.a759a8"]]
	}
]
